click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
Werkzeug==0.11.15
future==0.16.0
ordered-set==2.0.1
PyLaTeX==1.1.1
gunicorn==19.6.0
latexmk.py==0.4
latexpages==0.6
tempdir==0.7.1
six==1.10.0
decorator==4.0.11
funcsigs==1.0.2
data==0.4
shutilwhich==1.1.0
shutilwhich==1.1.0