.tie-man{
	background-image: url('../images/tie-man.jpg');
	background-size: cover;
	background-position: center center;
	min-width: 100%;
	height: 450px;
	margin-top: -20px;
	padding-top: 20px;
}

.tie-man h1 {
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0 0 15px rgba(0,0, 0, 0.5);
	margin: 30px 0;
}

.line-right{
	border-right: 1px solid #e1e1e1;
}

.is-hidden {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}

.admin-button{
	font-size: 75px;
}

.row-buffer{
	margin-top: 20px;
}

/* Creates loading spinner */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}