html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	text-decoration: none;
}

body{
	font-family: "georgia italic", arial;
	text-align: center;

}



header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue
}

header > ul > li {
    display: inline;
    float: left;   
}

header ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header ul li:hover {
    color: #111;
}

.active {
	background: grey;
}

input{
	width: 100%;
	background: blue;
	color: white;
	margin: auto;
	margin-top: 40px;
	line-height: 20px;
	font-weight: bold;
}

.input{
	width: 100%;
	background: blue;
	color: white;
	margin: auto;
	margin-top: 40px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;

}

::-webkit-input-placeholder {
   color: white;
}



/*p{
	color: pink;
	font-size: 3em;
}*/

.outter-container{
	max-width: 70%;
	margin: auto;
/*	border: 2px solid blue;
*/}

.inner-container{
	width: 40%;
	margin: auto;
	text-align: right;
}

.header-row{
	background: blue;
	color: white;
	font-weight: bold;
	width: 100%;
	/*height: 30px;*/
	text-align: right;
	line-height: 30px;
	margin-top: 10px;
	vertical-align: middle;
	margin-right: 8px;

}


.page-title{
	text-align: center;
	color: blue;
	font-size: 30px;
	padding-top: 50px;
}

.half-size-image{
	display: inline;
	width: 30%;
	padding: 50px 5% 15px 5%;
}

.input-box{
	width: 100%;
}

.input-box-50{
	width: 40%;
	display: inline-flex;
}

.button-box{
	background: blue;
	font-size: 1.05em;
	color: white;
	width: 50%;
	text-align: center;
}

.upload-button{
	background: red;
	font-size: 1.05em;
	color: white;
	text-align: center;
}

.grey-button{
	background: grey;
	text-align: right;
	display: inline-block;
	margin-top: .25em;
	cursor: pointer;
}

.radio {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
	text-decoration: none;
	display: inline;
	width: 5%;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}

.center-align{
	text-align: center;
	margin: auto;
}

.block{
	display: block;
}

.no-margin-top{
	margin-top: 0px;
}

.small-margin-top{
	margin-top: 2px;
}
.margin-top{
	margin-top: 2em;
}

.no-display {
    display:none;
}



#preview {
	border: 2px solid blue;
}

#file-load-button {
	cursor: pointer;
	margin-bottom: .25em;
}

#file-load-button:active {
	border: 1px solid black;
}

.award-image {
	width: 35%;
	height: 35%;
	border: 2px solid blue;
	/*margin-top: 1em;*/
	margin: 2em;
}

.large-text-area{
	height: 2em;
}