{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<li class="active"><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<div class="row row-buffer">
			<div class="col-md-6">
				<a href="/users" class="btn btn-primary btn-lg btn-block btn-huge">View Users<br><br><span class="glyphicon glyphicon-user admin-button"></span></a>
			</div>
			<div class="col-md-6">
				<a href="/new-manager-account" class="btn btn-primary btn-lg btn-block btn-huge">Add New User<br><br><span class="glyphicon glyphicon-plus-sign admin-button"></span></a>
			</div>
		</div>
		<div class="row row-buffer">
			<div class="col-md-6">
				<a href="#" class="btn btn-primary btn-lg btn-block btn-huge">View Other Admins<br><br><span class="glyphicon glyphicon-globe admin-button"></span></a>
			</div>
			<div class="col-md-6">
				<a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Add New Admin<br><br><span class="glyphicon glyphicon-plus admin-button"></span></a>
			</div>
		</div>
		<div class="row row-buffer">
			<div class="col-md-12">
				<a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Reporting Dashboard<br><br><span class="glyphicon glyphicon-dashboard admin-button"></span></a>
			</div>
		</div>
	</div>
{% endblock content %}