 <!-- lists admins -->
{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<!-- navbar -->
	<li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li class="dropdown">
		<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span> User Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/users">View Users</li>
			<li><a href="/new-manager-account">Add Users</a></li>
		</ul>
	</li>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span> Admin Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/admins">View Admins</li>
			<li><a href="/new-admin-account">Add Admins</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-certificate"></span> Award Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/new-employee">Add Employees</li>
			<li><a href="/employees-list">View Employees</a></li>
			<li><a href="/award-types">Add Award Types</a></li>
			<li><a href="/reports">Award Reports</a></li>
		</ul>
	</li>
{% endblock activeNav %}

{% block content %}
	<!-- table of all existing admins -->
	<div class="container">
		<div class="table-responsive">
			{% if admins|length > 0 %}
			<table class="table">
				<tr>
					<th>Admin</th>
					<th>Create Date</th>
					<th>Email</th>
					<th>Edit Admin?</th>
					<th>Delete Admin?</th>
				</tr>
				{% for admin in admins %}
				<tr>
					<td>{{admins[admin].admin}}</td>
					<td>{{admins[admin].createdOn}}</td>
					<td>{{admins[admin].adminEmail}}</td>
					<td><a href="/update-other-admin-account/?adminemail={{admins[admin].adminEmail}}"<span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="/remove-admin/?admin={{admins[admin].id}}"<span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
				{% endfor %}
			</table>
			<!-- if there are no admins show message -->
			{% else %}
			<p>There are no admins other than yourself in the system.</p>
			{% endif %}
		</div>
	</div>
{% endblock content %}