{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<li class="active" data-toggle="tab"><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li><a href="/users"><span class="glyphicon glyphicon-user"></span> View Users</a></li>
	<li ><a href="/new-manager-account"><span class="glyphicon glyphicon-plus-sign"></span> Add New User</a></li>
	<li><a href="/admins"><span class="glyphicon glyphicon-globe"></span> View Admins</a></li>
	<li><a href="/new-admin-account"><span class="glyphicon glyphicon-plus"></span> Add New Admin</a></li>
	<li><a href="/reports"><span class="glyphicon glyphicon-dashboard"></span> Reporting Dashboard</a></li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<div class="row row-buffer">
			<div class="col-md-6">
				<a href="/users" class="btn btn-primary btn-lg btn-block btn-huge">View Users<br><br><span class="glyphicon glyphicon-user admin-button"></span></a>
			</div>
			<div class="col-md-6">
				<a href="/new-manager-account" class="btn btn-primary btn-lg btn-block btn-huge">Add New User<br><br><span class="glyphicon glyphicon-plus-sign admin-button"></span></a>
			</div>
		</div>
		<div class="row row-buffer">
			<div class="col-md-6">
				<a href="/admins" class="btn btn-primary btn-lg btn-block btn-huge">View Other Admins<br><br><span class="glyphicon glyphicon-globe admin-button"></span></a>
			</div>
			<div class="col-md-6">
				<a href="/new-admin-account" class="btn btn-primary btn-lg btn-block btn-huge">Add New Admin<br><br><span class="glyphicon glyphicon-plus admin-button"></span></a>
			</div>
		</div>
		<div class="row row-buffer">
			<div class="col-md-6">
				<a href="/award-types" class="btn btn-primary btn-lg btn-block btn-huge">Add Award Types<br><br><span class="glyphicon glyphicon-plus admin-button"></span></a>
			</div>
			<div class="col-md-6">
				<a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Add New Employee<br><br><span class="glyphicon glyphicon-plus admin-button"></span></a>
			</div>
		</div>
		<div class="row row-buffer">
			<div class="col-md-12">
				<a href="/reports" class="btn btn-primary btn-lg btn-block btn-huge">Reporting Dashboard<br><br><span class="glyphicon glyphicon-dashboard admin-button"></span></a>
			</div>
		</div>
	</div>
{% endblock content %}