{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row">{{username}}, <a href="/logout">Logout</a></header>
		<div class="page-title">Create New Award</div>

		<div class="inner-container center-align">Find Employee</div>
		<input class="input-box-50 small-margin-top" type="text" name="recpLast" placeholder="Recipient Last Name" required />
		<div id="get-employee" class="grey-button">Find Employees </div>


		<!-- Python needs to return possible employees, -->
		<select class="input-box-50" name="employee">
			{% for key, fname, lname in alchemist.findUser(lname) %}
				<option value="key" >{{ fname }} {{ lname }}</option>
			{% enfor %}
		</select>


		<form action="/latex" method="post">
			
		<!-- 	<input class="input-box-50" type="text" name="recpFirst" placeholder="Recipient First Name" required />
			<input class="input-box-50" type="text" name="recpLast" placeholder="Recipient Last Name" required />
			<input class="input-box-50" type="text" name="message" placeholder="Award Message" required />
			<input class="input-box-50" type="email" id='email' name="recpEmail" placeholder="Recipient Email" required /> -->

			<!-- Choose award type -->
			<div class="inner-container center-align margin-top">Choose Award Type</div>
			<div class="outter-container small-margin-top">
				<select class="input-box-50" name="type">
					{% for key,value in awardTypes.iteritems() %}
						<option value="{{ key }}">{{ value }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- Display background options -->
			<div class="outter-container">
				<div class="inner-container center-align margin-top">Choose Award Background</div>
				{% for key,value in awardBackgrounds.iteritems() %}
					<label>
						<input class="no-display" type="radio" name="background" value="{{ key }}" />
						<img class="award-image" src="../static/images/{{ value }}"" alt="{{ value }}" />
					</label>
				{% endfor %}
			</div>

			<!-- Display border options -->
			<div class="outter-container">
				<div class="inner-container center-align margin-top">Choose Award Border</div>
				<label>
					<input class="no-display" type="radio" name="border" value="border1" />
					<img class="award-image" src="../static/images/employeeOfTheMonth.jpg" alt="Employee of the month" />
				</label>
				<label>
					<input class="no-display" type="radio" name="border" value="border2" />
					<img class="award-image" src="../static/images/most-improved.jpg" alt="Most Improved" />
				</label>
			</div>

			
			
			
			<!-- Display color options -->
			<div class="inner-container center-align margin-top">Choose Color Scheme</div>
			<div class="outter-container small-margin-top">
				<select class="input-box-50" name="theme">
					{% for key,value in awardThemes.iteritems() %}
						<option style="color:{{value}}" value="{{ key }}">{{ value }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- Add personalized message -->
			<div class="inner-container center-align margin-top">Add message</div>
			<div class="inner-container small-margin-top">
				<textarea rows="4" cols="50"  name="message"></textarea>
			</div>
	
			
			<input class="button-box" type="submit" value="Create Award">

		</form>
	</div>
{% endblock content %}