{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}


</div>
	<div class="outter-container">
		<header class="header-row">
			<ul>
				<li style="color: black"> {{username}} </li>
				<li><a href="/user">User Home</a></li>
				<li  class="active"><a href="/create">Create Award</a></li>
				<li><a href="/update-account">Update Account</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		</header>
		<div class="page-title">Create New Award</div>

		<div class="outter-container center-align">Find Employee</div>
		<form action="/get-employee" method="POST" id="get-employee-form">
			<input class="input-box-50 small-margin-top" id="last-name" type="text" name="lname" placeholder="Recipient Last Name" required />
			<input class="input-box-50" type="submit" value="send" />
		</form>


		<form action="/latex" method="post">
			
		<!-- 	<input class="input-box-50" type="text" name="recpFirst" placeholder="Recipient First Name" required />
			<input class="input-box-50" type="text" name="recpLast" placeholder="Recipient Last Name" required />
			<input class="input-box-50" type="text" name="message" placeholder="Award Message" required />
			<input class="input-box-50" type="email" id='email' name="recpEmail" placeholder="Recipient Email" required /> -->

			<!-- choose employee created via domManipulation.js -->
			<div class="inner-container center-align margin-top">Choose employee -If desired employee not listed please contact your admin</div>
			<div id="choose-employee" class="outter-container small-margin-top"></div>
			


			<!-- Choose award type -->
			<div class="inner-container center-align margin-top">Choose Award Type</div>
			<div class="outter-container small-margin-top">
				<select class="input-box-50" name="type">
					{% for key,value in awardTypes.iteritems() %}
						<option value="{{ key }}">{{ value }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- Display background options -->
			<div class="outter-container">
				<div class="inner-container center-align margin-top">Choose Award Background</div>
				{% for key,value in awardBackgrounds.iteritems() %}
					<label>
						<input class="no-display" type="radio" name="background" value="{{ key }}" />
						<img class="award-image" src="../static/images/{{ value }}"" alt="{{ value }}" />
					</label>
				{% endfor %}
			</div>

			<!-- Display border options -->
			<div class="outter-container">
				<div class="inner-container center-align margin-top">Choose Award Border</div>
				<label>
					<input class="no-display" type="radio" name="border" value="border1" />
					<img class="award-image" src="../static/images/border1.png" alt="Employee of the month" />
				</label>
				<label>
					<input class="no-display" type="radio" name="border" value="border2" />
					<img class="award-image" src="../static/images/border2.png" alt="Most Improved" />
				</label>
			</div>

			
			
			
			<!-- Display color options -->
			<div class="inner-container center-align margin-top">Choose Color Scheme</div>
			<div class="outter-container small-margin-top">
				<select class="input-box-50" name="theme">
					{% for key,value in awardThemes.iteritems() %}
						<option style="color:{{value}}" value="{{ key }}">{{ value }}</option>
					{% endfor %}
				</select>
			</div>

			<!-- Add personalized message -->
			<div class="inner-container center-align margin-top">Add message</div>
			<div class="inner-container small-margin-top">
				<textarea rows="4" cols="50"  name="message"></textarea>
			</div>

			<!--add time to send it-->
			<div class="outter-container center-align margin-top">Schedule email
				<input type="datetime-local" class="input-box-50 small-margin-top" name="send-time" />
			</div>
			
			<input class="button-box" type="submit" value="Create Award">

		</form>
	</div>
{% block javascript %}
    <SCRIPT SRC="/static/js/uploadSig.js"></SCRIPT>
{% endblock %}
{% endblock content %}