<!-- in admin view: list existing employees -->
{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<!-- navbar -->
	<li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li class="dropdown">
		<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span> User Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/users">View Users</li>
			<li><a href="/new-manager-account">Add Users</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span> Admin Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/admins">View Admins</li>
			<li><a href="/new-admin-account">Add Admins</a></li>
		</ul>
	</li>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-certificate"></span> Award Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/new-employee">Add Employees</li>
			<li><a href="/employees-list">View Employees</a></li>
			<li><a href="/award-types">Add Award Types</a></li>
			<li><a href="/reports">Award Reports</a></li>
		</ul>
	</li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<!-- lists existing employees -->
		<div class="table-responsive">
			{% if employees|length > 0 %}
			<table class="table">
				<tr>
					<th>Employee</th>
					<th>Email</th>
					<th>Edit Employee?</th>
					<th>Delete Employee?</th>
				</tr>
				{% for employee in employees %}
				<tr>
					<td>{{employees[employee].employee}}</td>
					<td>{{employees[employee].empemail}}</td>
					<td><a href="/update-employee/?employee={{employees[employee].id}}"<span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="/remove-employee/?employee={{employees[employee].id}}"<span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p>There are no employees in the system.</p>
			{% endif %}
		</div>
	</div>
{% endblock content %}