{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row"><a href="/">Employee Awards</a></header>

			<div class="inner-container">
				<form method="post" action="/login">
					<input class="input-box" type="text" name="userName" placeholder="User name or Email">
					<div>Please choose the account type you are logging in with
					<div>
						<input class="radio" type="radio" name="account-type" value="admin" required >Admin
						<input class="radio" type="radio" name="account-type" value="user">User
					</div>
					<input class="input-box" type="password" name="password" placeholder="Password">
					<a class="forgotPassword right-align" href="/password">* Forgot Password?</a><br>


					<div class="left-align"><input  class="button-box" type="submit" value="Login"></div>
				</form>


			<div class="left-align margin-top">New User?</div>
			<a href="/new-account"><div class="button-box">Create New Account</div></a>

		</div>
{% endblock content %}