{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row"><a href="login.html">Login</a></header>
		<div class="page-title">Create New Account</div>
		<form action="/new-account" method="post">
			
				<input class="input-box-50" type="text" name="firstName" placeholder="First Name">
				<input class="input-box-50" type="text" name="lastName" placeholder="Last Name">
				<input class="input-box-50" type="email" name="email" placeholder="Email">
				<input class="input-box-50" type="file" name="sigfile" value="/static/images/ex-sig.png" id="file_input" accept=".png" placeholder="Signature Image">
				<p id="status">Select an image of your signature"</p>
				<img id="preview" src="/static/images/ex-sig.png" />
				<br>
				<input type="hidden" id="sig-url" name="signature" value="/static/images/ex-sig.png">
				<input class="input-box-50" type="password" name="password" placeholder="Password">
				<input class="input-box-50" type="password" name="password" placeholder="Reenter Password">
				<select class="input-box-50" name="security-question-1">
					<option value="1">What is your paternal grandfather's name</option>
					<option value="2">What is the name of your first pet</option>
					<option value="3">what is the name of your childhood best friend</option>
				</select>
				<input class="input-box-50" type="text" name="security-answer-1" placeholder="Answer">

				<select class="input-box-50" name="security-question-2">
					<option value="1">What is your paternal grandfather's name</option>
					<option value="2">What is the name of your first pet</option>
					<option value="3">what is the name of your childhood best friend</option>
				</select>
				<input class="input-box-50" type="text" name="security-answer-2" placeholder="Answer">
				
				<input class="button-box" type="submit" value="Create Account">
		</form>
	</div>
{% block javascript %}
    <SCRIPT SRC="/static/js/uploadSig.js"></SCRIPT>
{% endblock %}
{% endblock content %}