{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row"><a href="/login">Login</a></header>
		<div class="page-title">Create New Account</div>
		<form action="/new-account" method="post">
			

				<input class="input-box-50" type="text" name="firstName" placeholder="First Name" required />
				<input class="input-box-50" type="text" name="lastName" placeholder="Last Name" required />

				<input class="input-box-50" type="email" id='email' name="email" placeholder="Email" required />
				<input class="input-box-50" type="text" name="jobTitle" placeholder="Job Title" required />

				<input class="input-box-50" type="password" id="pass1" name="password" placeholder="Password" required />
				<input class="input-box-50" type="password" id="pass2" name="password" placeholder="Reenter Password" onkeyup="checkPass(); return false;" required />


				<select class="input-box-50" name="security-question-1">
					{% for q in questions %}
						<option value="{{ q.key }}">{{ q.question}}</option>
					{% endfor %}
				</select>
				<input class="input-box-50" type="text" name="security-answer-1" placeholder="Answer" required />
				

				<select class="input-box-50" name="security-question-2">
					{% for q in questions %}
						<option value="{{ q.key }}">{{ q.question}}</option>
					{% endfor %}
				</select>
				<input class="input-box-50" type="text" name="security-answer-2" placeholder="Answer" required />
				
				<!-- the file upload. the input is hidden behind my button -->
				
				<div id="file-load-button" class="input input-box-50 "> 
				    Upload signature image
				</div>
				<div class="no-display">
					<input type="file" name="sigfile" value="/static/images/ex-sig.png" id="file_input" accept=".png" required/>
				</div>

				<div class="center-algin" id="status">Preview of signature
					<p><img id="preview" src="/static/images/ex-sig.png" /></p>
				</div>

				<input type="hidden" id="sig-url" name="signature" value="/static/images/ex-sig.png" />
				


				<input class="button-box" type="submit" value="Create Account">
		</form>
	</div>
{% block javascript %}
    <SCRIPT SRC="/static/js/uploadSig.js"></SCRIPT>
{% endblock %}
{% endblock content %}
