<!-- used in admin view: cretes a new employee -->
{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<!-- navbar -->
	<li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li class="dropdown">
		<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span> User Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/users">View Users</li>
			<li><a href="/new-manager-account">Add Users</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span> Admin Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/admins">View Admins</li>
			<li><a href="/new-admin-account">Add Admins</a></li>
		</ul>
	</li>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-certificate"></span> Award Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/new-employee">Add Employees</li>
			<li><a href="/employees-list">View Employees</a></li>
			<li><a href="/award-types">Add Award Types</a></li>
			<li><a href="/reports">Award Reports</a></li>
		</ul>
	</li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<h1>Add New Employee</h1>
		<br>
		<form class="form-horizontal" action="/new-employee" method="post" id="add-new-employee">
			<!-- first name -->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="firstName">First Name</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="first-name" id="firstName" placeholder="First Name" required>
				</div>
			</div>
			<!-- last name -->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="lastName">Last Name</label>
				<div class="col-sm-6">
					<input class="form-control" type="text" name="last-name" id="lastName" placeholder="Last Name" required>
				</div>
			</div>
			<!-- email -->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="empEmail">Email</label>
				<div class="col-sm-6">
					<input class="form-control" type="email" name="emp-email" id="empEmail" placeholder="Email" required>
				</div>
			</div>
			<!-- submit -->
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-4">
					<input type="submit" class="btn btn-primary">
				</div>
			</div>
		</form>
		<!--<div class="col-sm-6 col-sm-offset-4 is-hidden" id="emplyee-added">
			<h4>Employee Added</h4>
		</div>
		<div class="col-sm-6 col-sm-offset-4 is-hidden" id="emplyee-not-added">
			<h4>Error: Employee not added</h4>
		</div>-->
		
	</div>
{% endblock content %}