{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li><a href="/users"><span class="glyphicon glyphicon-user"></span> View Users</a></li>
	<li><a href="/new-manager-account"><span class="glyphicon glyphicon-plus-sign"></span> Add New User</a></li>
	<li><a href="/admins"><span class="glyphicon glyphicon-globe"></span> View Admins</a></li>
	<li class="active" data-toggle="tab"><a href="/new-admin-account"><span class="glyphicon glyphicon-plus"></span> Add New Admin</a></li>
	<li><a href="/reports"><span class="glyphicon glyphicon-dashboard"></span> Reporting Dashboard</a></li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<h1>Create New Admin Account</h1>
		<form class="form-horizontal" action="/new-admin-account" method="post">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="firstName">First Name</label>
					<div class="col-sm-6">
						<input class="form-control" type="text" id="firstName" name="firstName" required >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="lastName">Last Name</label>
					<div class="col-sm-6">
						<input class="form-control" type="text" id="lastName" name="lastName" required >
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label" for="email">Email</label>
					<div class="col-sm-6">
						<input class="form-control" type="email" id='email' name="email" required >
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label" for="pass1">Password</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" id="pass1" name="password" required >
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="pass2">Reenter Password</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" id="pass2" name="password" onkeyup="checkPass(); return false;" required>
						<span class="help-block">
							<span class="is-hidden" id="confirmMessage"></span> 
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						<select class="form-control" name="security-question-1">
							{% for key,value in questions.iteritems() %}
								<option value="{{ key }}">{{ value }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="security-answer-1" placeholder="Answer" required >
					</div>
				</div>	

				<div class="form-group">
					<div class="col-sm-4">
						<select class="form-control" name="security-question-2">
						{% for key,value in questions.iteritems() %}
							<option value="{{ key }}">{{ value }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="security-answer-2" placeholder="Answer" required >
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-6 col-sm-offset-4">
						<button type="submit" class="btn btn-primary">Create Admin Account</button>
					</div>
				</div>
		</form>
	</div>
{% endblock content %}
