{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row"><a href="/login">Login</a></header>
		<div class="page-title">Recover Password</div>
		<p>Please choose if you would like to reset your password over email or answer your security questions</p>
		<section class="inner-container">
			<div class="input">Reset Password via Email</div>
			<section>
				<form action="" method="post"> 
					<div class="left-align margin-top">What is your paternal grandfather's name</div>
					<input class="input-box no-margin-top" type="text" name="security-answer-1" placeholder="Answer">

					<div class="left-align margin-top">What is the name of your first pet</div>
					<input class="input-box no-margin-top" type="text" name="security-answer-2" placeholder="Answer">

					<input class="button-box" type="submit" value="Submit Answers">
				</form>
			</section>
		</section>
	</div>
{% endblock content %}