<!-- lets users recover passwords. Option between email or answering security questions will be given -->
{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block content %}

	<div class="container" id="reset-password-main-form">
		<h1>Recover Password</h1>
		<p>Please enter your email and choose if you would like to reset your password over email or answer your security questions</p>
		<form class="form-horizontal" method="post" action="/get-password" id="reset-password">
		
			<!-- get email -->
			<div class="form-group">
				<label class="col-sm-4 control-label" for="email">Email</label>
				<div class="col-sm-6">
					<input class="form-control" type="email" id='email' name="email" placeholder="person@email.com" required >
				</div>
			</div>

			<!-- radio buttons to select to reset via email or questions -->		
			<div class="form-group">
				<label class="col-sm-4 control-label" for="email">Reset Via</label>
				<div class="col-sm-6">
					<label class="radio-inline" id="reset-via-email">
						<input  class="radio" type="radio" name="reset-method" value="email" id="reset-via-email-button" required >Email
					</label>
					<label class="radio-inline" id="reset-via-questions">
						<input class="radio" type="radio" name="reset-method" value="question">Security Questions
					</label>
				</div>
			</div>

			<!-- Will show warning if resetting via email -->
			<div  id="send-email-reset" class="col-sm-6 col-sm-offset-4 is-hidden" >Clicking the button will send a password reset email, your current password will be deactivated
			</div>
		
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-4" id="submit-reset-via">
					<button type="submit" id="submit-reset-via-button" class="btn btn-primary">Submit</button>
				</div>
			</div>

			<div  id="email-sent" class="col-sm-6 col-sm-offset-4 is-hidden" >A reset code has been sent. Please check your email.
			</div>
		</form>	
	

		<!-- Form to submit security questions -->
		<form  id="security-questions" class="form-horizontal is-hidden" action="/check-questions" method="post">
						
			<div class="form-group">
				<label id="question-1" class="col-sm-4 control-label" for="answer1"></label>
				
				<div class="col-sm-6">
					<input class="form-control" type="text" name="security-answer-1" placeholder="Answer" id="answer1" required >
				</div>
			</div>
			<div class="form-group">
				<label id="question-2" class="col-sm-4 control-label" for="answer2"></label>
				
				<div class="col-sm-6">
					<input class="form-control" type="text" name="security-answer-2" placeholder="Answer" id="answer2" required >
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-4" >
					<button type="submit" class="btn btn-primary">Submit Answers</button>
				</div>
			</div>
		</form>

		<!-- reset password form -->
		<form method="post" action="/reset-pass-via-question" id="password-has-been-reset-questions" class="is-hidden form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="pass1">New Password</label>
				<div class="col-sm-6">
					<input pattern=".{3,}" title="3 characters minimum" class="form-control" type="password" id="pass1" name="password" required >
				</div><br>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="pass2">Reenter Password</label>
				<div class="col-sm-6">
					<input pattern=".{3,}" title="3 characters minimum" class="form-control" type="password" id="pass2" name="password" onkeyup="checkPass(); return false;" required>
					<span class="help-block">
						<span class="is-hidden" id="confirmMessage"></span> 
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-4">
					<button  class="btn btn-primary" type="submit">Reset Password</button>
				</div>
			</div>
		</form>


		<!-- sucess message -->
		<div id="password-reset-sucess" class="col-sm-6 is-hidden">Your password has been reset. Please login
			<a href="/login"><div class="button btn-primary">Login</div></a>
		</div>


		<!-- failure message -->
		<div id="password-reset-failure" class="col-sm-6 is-hidden">Your password was not successfully reset. Please contact your administrator</div>

	<div class="modal"><!-- Adds thinking spinner --></div>	
	</div>
{% endblock content %}

