{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
		
<link rel="stylesheet" href="static/css/stylesheet.css">

	<div class="outter-container">
		<header class="header-row">
			<ul>
				<li style="float:right"><a href="/login">Login</a></li>
			</ul>
		</header>
		<div class="page-title">Recover Password</div>
		<p>Please enter your email and choose if you would like to reset your password over email or answer your security questions</p>
		<section class="inner-container">
			<form method="post" action="/get-password" id="reset-password">
				<input class="input-box" name="email" placeholder="Email" required/>
				<input  id="reset-via-email" class="radio" type="radio" name="reset-method" value="email" required/>Reset via email
				<input class="radio" type="radio" name="reset-method" value="question" />Rest via security questions

				<!-- Will show warning if resetting via email -->
				<div  id="send-email-reset"  class="center-align no-display">Clicking the button will send a password reset email, your current password will be deactivated
				</div>
				<input type="submit" value="submit" />
			</form>


			<!-- Will show button to send password reset button -->
			<div id="send-email-reset" class="center-align no-display">Clicking the button will send a password reset email, your current password will deactivate

				<div class="button-box">Reset Password</div> 
			</div>

			<!-- If user wants to answer security questions. Starts out as hidden will be visible though ajax request -->
			<section class="no-display" id="display-security-questions">
				<form action="/check-question" method="post"> 
					
					<!-- NEED TO TRANSLATE EMAIL TO USER INFO TO GRAB SECUIRUTY QUESTIONS -->
					<input class="input-box no-margin-top" type="text" name="security-answer-1" placeholder="Answer">
					<input class="input-box no-margin-top" type="text" name="security-answer-2" placeholder="Answer">

					<input class="button-box" type="submit" value="Submit Answers">
				</form>
			</section>
		</section>
	</div>
{% endblock content %}

