<!-- for users and admins, if they chose to reset thier password via email. This is the link that will be emailed to them -->
{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-sm-6 line-right">

				<h1>Reset Password</h1>
				<form method="post" action="/reset-password" id="password-has-been-reset">
					<!-- enter email -->
					<div class="form-group">
						<label for="userName">Please enter email address</label>
						<input class="form-control" id="userName" type="email" name="userName" placeholder="person@email.com">
					</div>

					<!-- choose account type	 -->
					<p>Please choose the account type you are logging in with</p>
					<div class="form-group">
						<label class="radio-inline">
							<input class="radio" type="radio" name="account-type" value="admin" required >Admin
						</label>
						<label class="radio-inline">
							<input class="radio" type="radio" name="account-type" value="user" checked>User
						</label>
					</div>
					<!-- enter emailed code -->
					<div class="form-group">
						<label for="resetCode">Enter the code that was emailed to you</label>
						<input id="resetCode" type="text" class="form-control" name="reset-code" placeholder="#####" required >
					</div>
					<!-- new password -->
					<div class="form-group">
						<label class="col-sm-4 control-label" for="pass1">New Password</label>
						<div class="col-sm-6">
							<input pattern=".{3,}" title="3 characters minimum" class="form-control" type="password" id="pass1" name="password" required >
						</div><br>
					</div>
					<!-- re-enter password -->
					<div class="form-group">
						<label class="col-sm-4 control-label" for="pass2">Reenter Password</label>
						<div class="col-sm-6">
							<input pattern=".{3,}" title="3 characters minimum" class="form-control" type="password" id="pass2" name="password" onkeyup="checkPass(); return false;" required>
							<span class="help-block">
								<span class="is-hidden" id="confirmMessage"></span> 
							</span>
						</div>
					</div>
					<!-- submit -->
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-4">
							<button  class="btn btn-primary" type="submit">Reset Password</button>
						</div>
					</div>
				</form>
			</div>
			<!-- after submitted correctly will appear -->
			<div class="col-sm-6 is-hidden" id="password-reset-sucess">
				<h2>Your password has been reset. Please log in with your new password</h2>
				<a href='/login'><button type="button" class="btn btn-primary">Login</button></a>
		</div>
	<div class="modal"><!-- loading spinner --></div>
	</div>
	
{% endblock content %}