{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		{% if details.email %}
		<header class="header-row">{{details.fname}} {{details.lname}}, <a href="/logout">Logout</a></header>
		{% else %}
		<header class="header-row"><a href="/login">Login</a></header>
		{% endif %}
		<div class="page-title">Update Account</div>
		<form action="/update-account" method="post">
			

				<input class="input-box-50" type="text" name="firstName" value="{{details.fname}}" required />
				<input class="input-box-50" type="text" name="lastName" value="{{details.lname}}" required />

				<input class="input-box-50" type="email" id='email' name="email" value="{{details.email}}" required />
				<input class="input-box-50" type="text" name="jobTitle" value="{{details.title}}" required />

				<!---
				<input class="input-box-50" type="password" id="pass1" name="password" placeholder="Password" required />
				<input class="input-box-50" type="password" id="pass2" name="password" placeholder="Reenter Password" onkeyup="checkPass(); return false;" required />
				<div class="right-align outter-container" id="confirmMessage" class="confirmMessage"></div>
				-->
				
				<div class="input-box-50 input">{{details.question1}}</div>
				<div class="input-box-50 input">{{details.answer1}}</div>
				<div class="change-question" id="change-question1">Change question</div><br>

				<div class="input-box-50 input">{{details.question2}}</div>
				<div class="input-box-50 input">{{details.answer2}}</div>
				<div class="change-question" id="change-question1">Change question</div><br>
				
				<!-- the file upload. the input is hidden behind my button -->
				
				<div id="file-load-button" class="input input-box-50 center-algin"> 
				    Upload signature image
				</div>
				<div class="no-display">
					<input type="file" name="sigfile" value="{{details.signature}}" id="file_input" accept=".png"/>
				</div>

				<div class="center-algin" id="status">Preview of signature
					<p><img id="preview" src="{{details.signature}}" /></p>
				</div>

				<input type="hidden" id="sig-url" name="signature" value="{{details.signature}}" />
				


				<input class="button-box" type="submit" value="Update Account">
		</form>
	</div>
	
	<!-- adds a timestamp to the src attribute for the image preview in order to prevent image caching -->
	<script> 
		var path = $("#preview").attr("src")
		var newPath = path + '?' + $.now()
		$("#preview").attr("src",newPath) 
	</script>
	
{% block javascript %}
    <SCRIPT SRC="/static/js/uploadSig.js"></SCRIPT>
{% endblock %}
{% endblock content %}
