<!-- in admin view: lists all users -->
{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<!-- nave bar -->
	<li><a href="/admin"><span class="glyphicon glyphicon-home"></span> Admin Home</a></li>
	<li class="dropdown active">
		<a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-user"></span> User Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/users">View Users</li>
			<li><a href="/new-manager-account">Add Users</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-globe"></span> Admin Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/admins">View Admins</li>
			<li><a href="/new-admin-account">Add Admins</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="glyphicon glyphicon-certificate"></span> Award Options <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Add Employees</li>
			<li><a href="/employees-list">View Employees</a></li>
			<li><a href="/award-types">Add Award Types</a></li>
			<li><a href="/reports">Award Reports</a></li>
		</ul>
	</li>
{% endblock activeNav %}

{% block content %}
	<div class="container">
		<div class="table-responsive">
			<!-- created user table -->
			{% if users|length > 0 %}
			<table class="table">
				<tr>
					<th>User</th>
					<th>Create Date</th>
					<th>Title</th>
					<th>Email</th>
					<th>Edit User?</th>
					<th>Delete User?</th>
				</tr>
				<!-- fills table from data base -->
				{% for user in users %}
				<tr>
					<td>{{users[user].user}}</td>
					<td>{{users[user].createdOn}}</td>
					<td>{{users[user].title}}</td>
					<td>{{users[user].useremail}}</td>
					<td><a href="/update-manager-account/?usremail={{users[user].useremail}}"<span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="/remove-user/?usr={{users[user].id}}"<span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
				{% endfor %}
			</table>
			<!-- if there are no users in the system -->
			{% else %}
			<p>There are no users in the system.</p>
			{% endif %}
		</div>
	</div>
{% endblock content %}