{% extends "base.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}
{% block meta %}{% endblock meta %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="outter-container">
		<header class="header-row">
			<ul>
				<li style="color: black"> {{username}} </li>
				<li class="active"><a href="/user">User Home</a></li>
				<li><a href="/create">Create Award</a></li>
				<li><a href="/update-account">Update Account</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		</header>
		<p>user portal goes here</p>

		<br>
		<a href="/update-account">Click to Update Account</a>
		<p>Logged in as: {{email}}</p>
	</div>
{% endblock content %}