<!-- user home page -->
{% extends "loggedInBase.html" %}

{% block title %}<title>Capstone Project</title>{% endblock title %}

{% block activeNav %}
	<li class="active"><a href="/user"><span class="glyphicon glyphicon-home"></span> User Home</a></li>
	<li><a href="/create"><span class="glyphicon glyphicon-pencil"></span> Create Award</a></li>
	<li><a href="/awards"><span class="glyphicon glyphicon-tower"></span> List Awards</a></li>
{% endblock activeNav %}

{% block content %}
	<div class="user-man">
		<div class="container">
			<h1>Welcome {{username}}</h1>
			<!-- create new award link -->
			<a href="/create" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span> Create New Award</a><br>
			<!-- view awards given link -->
			<a href="/awards" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-tower"></span> View My Awards</a><br>
			<!-- edit user account link -->
			<a href="/update-account" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-pencil"></span> Edit Account</a>
		</div>
	</div>
{% endblock content %}


